<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      (<a href="/<%= file %>/edit">edit</a>)
      <form class="inline" method="POST" action="/<%= file %>/delete">
        <button type="submit">delete</button>
      </form>
    </li>
  <% end %>
</ul>

<a href="/new">New Document</a>
<br><br>

<% if session[:username] %>
  <form class="inline" method="POST" action="/logout">
    <i>Signed in as <%= session[:username] %>.</i>
    <button type="submit">Sign Out</button>
  </form>
<% else %>
  <form class="inline" method="GET" action="/users/signin">
  <button type="submit">Sign In</button>
<% end %>